<form [formGroup]="customerform" novalidate>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Customer Information</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        @if(this.action=='remove'){
          <p class="remove">Do you want to delete this entry?</p>
        }
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
              @if (customerform.controls['name'].hasError('required')) {
                <mat-error>Name is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" formControlName="phone">
              @if (customerform.controls['phone'].hasError('pattern')) {
                <mat-error>Phone is <strong>invaild</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Date of birth</mat-label>
              <input matInput placeholder="Date of birth" formControlName="date_of_birth">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
              @if (customerform.controls['email'].hasError('email')) {
                <mat-error>Email is <strong>invaild</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Gender</mat-label>
              <input matInput placeholder="Gender" formControlName="gender">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Street</mat-label>
              <textarea matInput placeholder="Street" formControlName="street"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Province</mat-label>
              <input matInput placeholder="Province" formControlName="province">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Postal code</mat-label>
              <input matInput placeholder="Postal Code" formControlName="postal_code">
            </mat-form-field>
          </div>
        </div>
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="" (click)="cancelClick()">Cancel</button>
        <button mat-raised-button [color]="this.color" type="submit" (click)="submintClick()">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  