
  <h2 mat-dialog-title>About us</h2>
  <mat-dialog-content>
    
    <h3>Project:</h3>
    <p>Effective retail data management system for handling customer data and transactions.</p>
    
    <h3>Course:</h3>
    <p>INFO 2312: Database Systems (S13)</p>

    <h3>Instructor:</h3>
    <p>Ismail El Sayad</p>
        
    <h3>Developer:</h3>
    <p>Sana Maleki, 100435897</p>
      
    <h3>Group Members:</h3>
    <p>Sahiba, 100441016</p>
    <p>Sana Maleki, 100435897</p>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">OK</button>
  </mat-dialog-actions>
  