@if (currentAction=='loading') {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
}

@if (currentAction!='loading' && currentAction!='list') {
    <app-add-orders-details
      [action]="currentAction"
      (onSubmit)="onAdd($event)"
      (onCancel)="onCancel()"
      [data]="data"
    />
  }
  
  @if (currentAction=='list') {
      
      <button mat-flat-button color="primary" (click)="add()">
        <mat-icon>add</mat-icon> Add new entry
      </button>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.customer.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Order id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
          <ng-container matColumnDef="orderStatus">
              <th mat-header-cell *matHeaderCellDef> Order status </th>
              <td mat-cell *matCellDef="let element"> {{element.orderStatus.status}} </td>
          </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                      </button>    
                </td>
            </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr (dblclick)="selected(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
      
      }